.brand__logo{
  width:34px;
  height:34px;
  display:grid;
  place-items:center;
  overflow:hidden;        /* evita que la imagen se salga */
  background: transparent;   /* quita fondo */
  border: none;              /* quita borde */
  border-radius: 0;          /* opcional */
}

.brand__logo-img{
  width:100%;
  height:100%;
  object-fit:contain;     /* mantiene proporción */
  display:block;
}



