.brand__logo{
  width:34px;
  height:34px;
  display:grid;
  place-items:center;
  overflow:hidden;
  background: transparent;
  border: none;
  border-radius: 0;
}

.brand__logo-img{
  width:100%;
  height:100%;
  object-fit:contain;
  display:block;
}
